
.Submit {
    background-color:dodgerblue;
    margin: 20px 40%;
    font-weight: bold;
    font-size: 25px;
    outline: none;
    padding: 2px 20px;
    border-radius: 4px;
    width: 20%;
}

.Submit:disabled{
    background-color:#ddd;
}

.Label{
    font-weight: bold;
    font-size: 22px;
    display: block;
    text-align: left;
    margin: 10px 10px 10px 5%;
    width: 20%;
}

.FormInput, .FormSelect, .FormRadio, .FormTextArea, .FormCheckbox{
    width: 70%;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    outline: none;
    box-shadow: 2px 2px 2px #ccf;
    border-radius: 4px;
    font-size: 15px;
}
.FormInput:focus, .FormSelect:focus, .FormRadio:focus, .FormTextArea:focus, .FormCheckbox:focus{
    border: solid 1px dodgerblue;
}
